<div class="single_active_decision">
  <h3><%= decision.context %></h3>
  <!-- <h4><%= decision.winning_proposal %></h4> -->
  <%= participants(decision) %>
  <i><%= decision.created_at %></i>
</div>

