<li class="list-group-item"> <div class="single_active_decision">
  <h3><%= link_to("#{decision.context}", decision_path(decision)) %></h3>
  <p>Created <%= time_ago_in_words(decision.created_at) %> ago</p>
</div></li>

