<%= form_for :decision, url: '/decisions', method: 'post' do |f| %>

  <p>
    <%= f.text_field :context %>
  </p>

  <p>
    <%= f.submit value="Create New Decision", :class => "btn btn-lg btn-info btn-block" %>
  </p>

<% end %>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
