<div>
  <h1>Hey, <%= @user.name %>!</h1>

  <%= link_to "Let's Make a New Decision!", new_decision_path, :class => "btn btn-lg btn-info btn-block" %>

  <div>
    <h4>Your open decisions:</h4>
    <% if @user_decisions %>
      <%= render @user_decisions %>
    <% else %>
      <p>You have no open decisions! Consider making one...</p>
    <% end %>
  </div>

</div>


