<h1>Hey, <%= @user.name %>! LET'S...</h1>

<div class="container">

  <h2>Take a look at your open decisions</h2>

  <%= render @user_decisions %>

</div>

<div class="container">



  <%= link_to('New Decision', new_decision_path) %>

</div>
