<div class="container">

  <h1>Hey, <%= @user.name %>!</h1>

  <%= link_to "Let's Make a New Decision!", new_decision_path, :class => "btn btn-lg btn-info btn-block" %>

  <hr>

  <div id="open-decisions">
    <h3>Open decisions:</h3>
    <% if @user_decisions.any? %>
      <%= render @active_user_decisions %>
    <% else %>
      <p>You have no open decisions!</p>
    <% end %>
  </div>

  <hr>

  <div id="recently-closed-decisions">
    <h3>Recently closed decisions:</h3>
    <% if @user_decisions.any? %>
      <%= render @closed_user_decisions %>
    <% else %>
      <p>You have no recent decisions!</p>
    <% end %>
  </div>

</div>
