Dear <%= @name %>,

A friend would like to include you in a decision! Come join us at LET'S to help make your group decisions easier.

<h3><%= link_to "Join here!", root_url %></h3>

Thanks and enjoy,
Your friends at LET'S
