<div>
  <div class="container">
    <h2 class="form-signin-heading">Nice to meet ya!</h2>
    <h4>LET'S is a group decision making app that allows you to make plans with your friends!</h4>
    <h4>After you propose an idea, your friends each have 15 minutes to respond "yes" or suggest a new idea.</h4>
    <%= render 'form' %>
  </div>
</div>
