<div class="container">
  <h1>Hey, <%= @user.name %>! LET'S...</h1>

  <button class="btn btn-default"><%= link_to('Make a New Decision', new_decision_path) %></button>


  <h4>Take a look at your open decisions:</h4>

  <% if @user_decisions %>
    <%= render @user_decisions %>
  <% else %>
    <p>You have no open decisions! Consider making one...</p>
  <% end %>

</div>

