<!-- THIS PAGE IS WRONG AND DOESN'T DO ANYTHING DON'T WORK ON IT!
      YOU PROBABLY WANT DECISIONS/INDEX - GO THERE! -->

<!-- <div>
  <h1>Hey, <%= @user.name %>! LET'S...</h1>

  <%# link_to('Make a New Decision', new_decision_path, :class => "btn btn-lg btn-info btn-block") %>

  <h4>Take a look at your open decisions:</h4>

  <%# if @user_decisions %>
    <%= render @user_decisions %>
  <%# else %>
    <p>You have no open decisions! Consider making one...</p>
  <%# end %>
</div> -->

<!-- IT DOES WORK!!!! ->
